/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/project docs
Scope and Proposal/ILS_Full_Website_Copy_Pack_v1.docx
Scope and Proposal/ILS_Master_Website_Guide_BUILD_READY_EN.pdf
Scope and Proposal/Project_QA_IrishLaundrySystems.pdf
Scope and Proposal/Proposal for Web Page (1).pdf
Scope and Proposal/Proposal_ILS_Updated_2026.pdf

Scope and Proposal/ILS_Website_Bible_Gold_Premium_v5_1_FINAL_NoRisk.docx
